<!--Inicio Nivel Costos de Operacion-->
<p></p>
<br>
<div class="container">
<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary" routerLink="/coperacion">Nivel 2</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/coperacion3">Nivel 3</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/coperacion4">Nivel 4</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/coperacion5">Nivel 5</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/coperacion6">Nivel 6</button>
    
  </div>
</div>