<app-cabecera></app-cabecera>
<br><br><br>
<app-navbarfarmacia></app-navbarfarmacia>
<br><br>
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Bienvenido, </h1>
  <p class="lead">En este modulo podras interactuar registrando productos, viendo el inventario y sacando reportes.</p>
  <hr class="my-4">
  <p>Recuerda si tienes dudas consulta a tu inmediato superior.</p>
  <a class="btn btn-primary btn-lg" routerLink="/prueba" role="button">Leer Mas</a>
  <button class="btn btn-warning btn-lg" type="button" routerLink="/principal" style="margin-left: 10px;">Volver</button>
</div>
<br>
<br>

  </div>
<br>
<br>
<app-twitter></app-twitter>
  