<app-cabecera></app-cabecera>
<br><br><br>
<app-navbarfarmacia></app-navbarfarmacia>
<br><br>
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Bienvenido, </h1>
  <p class="lead">En este modulo podras interactuar registrando productos, viendo el inventario y sacando reportes.</p>
  <hr class="my-4">
  <p>Recuerda si tienes dudas consulta a tu inmediato superior.</p>
  
</div>
<br>
<br>
<mat-tab-group>
  <mat-tab label="Farmacia"> 
  <p></p>
<p>Registrar Farmacia</p>
<p>Listar Farmacia</p>
  </mat-tab>
  <mat-tab label="Medicamentos Esenciales"> <p></p>
    <p>Registrar Medicamentos Esenciales</p>
    <p>Listar Medicamentos Esenciales</p> 
  
  </mat-tab>
  <!--<mat-tab label="Ultimas Noticias">Content 3 </mat-tab>-->
</mat-tab-group>
<br>
<br>
<a class="btn btn-primary btn-lg" routerLink="/prueba" role="button">Leer Mas</a>
  <button class="btn btn-warning btn-lg" type="button" routerLink="/principal" style="margin-left: 10px;">Volver</button>
  </div>
<br>

<br>
<app-twitter></app-twitter>
  