<!--Inicio Nivel Cuentas de Distribucion-->
<p></p>
<br>
<div class="container">
<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary" routerLink="/pingreso">Nivel 2</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/cdistribucion3">Nivel 3</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/cdistribucion4">Nivel 4</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/cdistribucion5">Nivel 5</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/cdistribucion6">Nivel 6</button>
    
  </div>
</div>