<app-cabecera></app-cabecera>
<br><br><br>
<app-navbarcirugia></app-navbarcirugia>
<br><br>
<div class="container">
    <h1>Programacion Cirugia</h1>
    <div class="container text-center mt-4">
        <form [formGroup]="formulario" (ngSubmit)="agregarcirugia()">
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Paciente:</span>
                <input type="text" formControlName="paciente" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
          </div>
          <div class="col">
              <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Grado:</label>
                <select class="form-select" id="inputGroupSelect01" formControlName="grado">
                  <option selected>Seleccione...</option>
                  <option value="Soldado|Marino">Soldado|Marino</option>
                  <option value="Dragoneante|Marino de 1ra">Dragoneante|Marino de 1ra</option>
                  <option value="Cabo|Cabo Conscripto">Cabo|Cabo Conscripto</option>
                  <option value="Sgto.Inicial">Sgto.Inicial</option>
                  <option value="Sgto.Segundo">Sgto.Segundo</option>
                  <option value="Sgto.Primero">Sgto.Primero</option>
                  <option value="Suboficial.Inicial">Suboficial.Inicial</option>
                  <option value="Suboficial.Segundo">Suboficial.Segundo</option>
                  <option value="Suboficial.Primero">Suboficial.Primero</option>
                  <option value="Suboficial.Mayor">Suboficial.Mayor</option>
                  <option value="Suboficial.Master|Maestre">Suboficial.Master|Maestre</option>
                  <option value="Subteniente|Alferez">Subteniente|Alferez</option>
                  <option value="Teniente|Tte.Frag">Teniente|Tte.Frag</option>
                  <option value="Capitan|Tte.Nav">Capitan|Tte.Nav</option>
                  <option value="Mayor|Cap.Corb">Mayor|Cap.Corb</option>
                  <option value="Teniente Coronel|Cap.Fragata">Teniente Coronel|Cap.Fragata</option>
                  <option value="Coronel|Cap.Nav">Coronel|Cap.Nav</option>

                  <option value="Gral.Brig|Contralmte">Gral.Brig|Contralmte</option>
                  <option value="Gral.Division|Vicealmte">Gral.Division|Vicealmte</option>
                  <option value="Gral.Fuerza|Almirante">Gral.Fuerza|Almirante</option>
                </select>
              </div>
          </div>
          <div class="row">
          <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Unidad:</label>
                <select class="form-select" id="inputGroupSelect01" formControlName="unidad">
                  <option selected>Seleccione...</option>
                  <option value="Ejercito">Ejercito</option>
                  <option value="Fuerza Aerea">Fuerza Aerea</option>
                  <option value="Armada">Armada</option>
                </select>
              </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Tipo de Intervencion:</label>
                <select class="form-select" id="inputGroupSelect01" formControlName="tipointer">
                  <option selected>Seleccione...</option>
                  <option value="Cirugía abdominal">Cirugía abdominal</option>
                  <option value="Cirugía cardíaca">Cirugía cardíaca</option>
                  <option value="Cirugía ortopédica">Cirugía ortopédica</option>
                  <option value="Cirugía plástica">Cirugía plástica</option>
                  <option value="Cirugía laparoscópica">Cirugía laparoscópica</option>
                  <option value="Cirugía endoscópica">Cirugía endoscópica</option>
                  <option value="Cirugía neurológica">Cirugía neurológica</option>
                  
                </select>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col">
             <!--  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Fecha Programacion:</span>
                    <input type="text" formControlName="fechap" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>-->
                  <div class="input-group">
                    <span class="input-group-text">Fecha de Programacion:</span>
                    <!--<input type="text" aria-label="First name" formControlName="fechap" class="form-control" placeholder="Dia">-->
                    <select class="form-select" id="inputGroupSelect01" formControlName="fechap" placeholder="Dia">
                        <option selected>Dia</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        
                      </select>
                      <select class="form-select" id="inputGroupSelect01" formControlName="fecham" placeholder="Mes">
                        <option selected>Mes</option>
                        <option value="Enero">Enero</option>
                        <option value="Febrero">Febrero</option>
                        <option value="Marzo">Marzo</option>
                        <option value="Abril">Abril</option>
                        <option value="Mayo">Mayo</option>
                        <option value="Junio">Junio</option>
                        <option value="Julio">Julio</option>
                        <option value="Agosto">Agosto</option>
                        <option value="Septiembre">Septiembre</option>
                        <option value="Octubre">Octubre</option>
                        <option value="Noviembre">Noviembre</option>
                        <option value="Diciembre">Diciembre</option>                      
                      </select>
                      <select class="form-select" id="inputGroupSelect01" formControlName="fechaa" placeholder="Año">
                        <option selected>Año</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>   
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>           
                      </select>
                  </div>

              </div>
            <div class="col">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Tipo de Sangre:</label>
                    <select class="form-select" id="inputGroupSelect01" formControlName="tiposangre">
                      <option selected>Seleccione...</option>
                      <option value="A+">A+</option>
                      <option value="A-">A- </option>
                      <option value="B+">B+</option>
                      <option value="B-">B- </option>
                      <option value="AB+">AB+</option>
                      <option value="AB-">AB- </option>
                      <option value="O+">O+</option>
                      <option value="O-">O-</option>
                    </select>
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default">Observaciones:</span>
                  <input type="text" formControlName="observaciones" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
              <button class="btn btn-primary btn-lg mt-3" type="Submit" style="margin-left: 10px;">Registrar</button>
              <button class="btn btn-warning btn-lg mt-3" type="button" routerLink="/principal" style="margin-left: 10px;" >Volver</button>
            </div>
          </div>
          </div>
  
</form>
    
