<!--<app-cabecera></app-cabecera>
<br><br><br>
<app-navbarcontabilidad></app-navbarcontabilidad>
<br>
<br>-->
<div class="container">
    <h1>CAJA CHICA</h1>
<br>
<br>
    <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)"  placeholder="Ex. codigo" #input autocomplete="off">
      </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto Inicial </th>
          <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
        </ng-container>
        <ng-container matColumnDef="transacciones">
          <th mat-header-cell *matHeaderCellDef> Transacciones </th>
          <td mat-cell *matCellDef="let element"> {{element.transacciones}} </td>
        </ng-container>
        <ng-container matColumnDef="aprobaciones">
          <th mat-header-cell *matHeaderCellDef> Apropado Por </th>
          <td mat-cell *matCellDef="let element"> {{element.aprobaciones}} </td>
        </ng-container>
        <ng-container matColumnDef="fechai">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fechai}} </td>
        </ng-container>
        <ng-container matColumnDef="comentario">
          <th mat-header-cell *matHeaderCellDef> Observaciones </th>
          <td mat-cell *matCellDef="let element"> {{element.comentario}} </td>
        </ng-container>
        
               
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef >
            <a class="btn btn-primary" routerLink="/contabilidad" role="button">Registrar</a> </th>
          <td mat-cell *matCellDef="let element"> 
            <!--<mat-icon matTooltip="Ver" routerLink="/verusuarios/{{element.id}}" class="search" fontIcon="search"></mat-icon>-->
            <!--<mat-icon matTooltip="Editar" routerLink="/editarusuarios/1" class="edit"fontIcon="edit"></mat-icon>-->
            <!--mat-icon  (click)="eliminarPersonal(element.id)"matTooltip="Borrar" class="delete" fontIcon="delete"></mat-icon>-->
          </td>
        </ng-container>
        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <mat-paginator [pageSizeOptions]="[20, 40, 50,80]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
    
    
     <br>
            
     <button type="button" class="btn btn-info" (click)="exportToExcel()"> Exportar a Excel</button>
    
           
          
      
    </div>
