<div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6">
      <div class="col">
        <img src="../../../../../../assets/img/recibo.png" style="width: 40px; height: 40px;" routerLink="/recibost">
        <p></p>
        <p>RECIBOS</p>
      </div>
      <div class="col">
        <img src="../../../../../../assets/img/ingresos-pasivos.png" style="width: 40px; height: 40px;" routerLink="/ingresost">
        <p></p>
        <p>INGRESOS</p>
      </div>
      <div class="col">
        <img src="../../../../../../assets/img/pago.png" style="width: 40px; height: 40px;" routerLink="/egresost" >
        <p></p>
        <p>EGRESOS</p>
      </div>
      <div class="col">
        <img src="../../../../../../assets/img/estado-de-resultados.png" style="width: 40px; height: 40px;">
        <p></p>
        <p>ESTADOS</p>
      </div>
      <div class="col">
        <img src="../../../../../../assets/img/objetivo.png" style="width: 40px; height: 40px;">
        <p></p>
        <p>OBJETIVOS</p>
      </div>
      <div class="col">
        <img src="../../../../../../assets/img/opciones.png" style="width: 40px; height: 40px;">
        <p></p>
        <p>OPCIONES</p>
      </div>
    </div>
  </div>
  