<app-cabecera></app-cabecera>
<br><br><br>
<app-navbarinter></app-navbarinter>
<br><br>
<div class="container">
  <h1>  Registrar Receta - Pacientes </h1>
  <br>
    <div class="container text-center mt-4">
        <form [formGroup]="formulario" (ngSubmit)="agregarreceta()">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Pieza:</span>
                    <select formControlName="pieza" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                      <option value="">Selecciona un código</option>
                      <!--<option *ngFor="let codigo of codigovademecum" [value]="codigo.codigo">{{codigo.codigo}}</option>-->
                      <option *ngFor="let codigo of pieza" [value]="codigo.pieza + '' + codigo.nombrepaciente">{{codigo.pieza}} - {{codigo.nombrepaciente}}</option>
                    </select>
                    </div>
            </div>
          <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Doctor:</span>
                <input type="text" formControlName="doctor" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
          </div>
          <div class="row">
          <div class="col">
           <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Fecha Inicio:</span>
                <input type="date" formControlName="fechai" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Hora Inicio:</span>
               <!-- <input type="text" formControlName="horai" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">-->
               <select id="hora" formControlName="horai" [(ngModel)]="horaSeleccionada" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              <!-- <select id="hora" [(ngModel)]="horaSeleccionada" name="hora">-->
               <option value="">Selecciona una hora</option>
                <option *ngFor="let hora of hora" [value]="hora">{{ hora }}</option>
              </select>
  
            </div>
                
        </div>

        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Fecha Fin:</span>
                <input type="date" formControlName="fechaf" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
        </div>

        <div class="row">
            <div class="col">
             <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default">Recordatorio:</span>
                  <input type="text" formControlName="recordatorio" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>


                <div class="col">
                 <div class="input-group mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-default">Receta:</span>
                      <input type="text" formControlName="receta" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
</div>
                    <div class="col">
                        <div class="input-group mb-3">
                             <span class="input-group-text" id="inputGroup-sizing-default">Repeticion:</span>
                             <input type="text" formControlName="lapso" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                           </div>
               

        </div>
       
        <div class="row mt-4">
            <div class="col">
              <button class="btn btn-primary btn-lg mt-3" type="Submit" style="margin-left: 10px;">Registrar</button>
              <button class="btn btn-warning btn-lg mt-3" type="button" routerLink="/internacion" style="margin-left: 10px;" >Volver</button>
            </div>
          </div>
          </div>
  </div>
</div>

</form>
    
