.container{
    margin: 0 20%;
    margin-top: 3%;
    }
h1 {
        text-align: center;
      }
h3 {
        text-align: center;
      }

.card {
      font-size: 14px;
  }
  .card-body {
    margin-bottom: 0.5rem;
  }