<div class="container">
    <app-cabecera></app-cabecera>
<app-navbarmenu></app-navbarmenu>
    <br>
    <br>
    <br>
    
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/farmacia.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">Farmacia</h2>
                    <p class="card-text">Registra medicamentos a la farmacia</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button" routerLink="/farmacia">Ingresar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/deposito.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">Almacen Farmacia</h2>
                    <p class="card-text">Registra Medicamentos e insumos directamente desde el Almacen</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button">Ingresar</button>
                    </div>
                </div>
                
            </div>
            
        </div>  
        <div class="col">
            <div class="card">
              <img src="../../../assets/img/cirujano.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">Programacion de Cirugia</h2>
                <p class="card-text">Programa y Visualiza las cirugias del dia</p>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button" routerLink="/programacion">Ingresar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../../assets/img/paciente.png" class="card-img-top" alt="" >
              <div class="card-body">
                <h2 class="card-title">Pacientes Internados</h2>
                <p class="card-text">Puedes registrar pacientes y visualizarlos en un dashboard </p>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button" routerLink="/internacion">Ingresar</button>
                </div>
              </div>
            </div>
          </div>   

          <div class="col">
            <div class="card">
              <img src="../../../assets/img/contador.png" class="card-img-top" alt="" >
              <div class="card-body">
                <h2 class="card-title">Contabilidad</h2>
                <p class="card-text">Puedes gestionar tus ingresos y egresos </p>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button" routerLink="/contabilidad">Ingresar</button>
                </div>
              </div>
            </div>
          </div> 


          <div class="col">
            <div class="card">
              <img src="../../../assets/img/doctor.png" class="card-img-top" alt="" >
              <div class="card-body">
                <h2 class="card-title">Personal</h2>
                <p class="card-text">Puedes gestionar el kardex de tu personal </p>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button" routerLink="/contabilidad">Ingresar</button>
                </div>
              </div>
            </div>
          </div> 

    </div>

    <div class="d-flex justify-content-center align-items-center" style="height: 30vh;">
        <div class="d-grid gap-2 text-center">
            <button class="btn btn-warning btn-lg" type="button" routerLink="/principal" >Volver</button>
        </div>
    </div> 
</div>

   

