<app-cabecera></app-cabecera>
<br><br><br>
<app-navbarfarmacia></app-navbarfarmacia>
<br><br>
<div class="container">
  <h1>  Registrar Medicamentos Esenciales </h1>
  <br>
    <div class="container text-center mt-4">
        <form [formGroup]="formulario" (ngSubmit)="agregarmedicamento()">
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Codigo:</span>
                <input type="text" formControlName="codigo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Descripcion:</span>
                <input type="text" formControlName="descripcion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
          </div>
          <div class="row">
          <div class="col">
           <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Forma:</span>
                <input type="text" formControlName="forma" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Concentracion:</span>
                    <input type="text" formControlName="concentracion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
          </div>
        </div>
       
        <div class="row mt-4">
            <div class="col">
              <button class="btn btn-primary btn-lg mt-3" type="Submit" style="margin-left: 10px;">Registrar</button>
              <button class="btn btn-warning btn-lg mt-3" type="button" routerLink="/farmacia" style="margin-left: 10px;" >Volver</button>
            </div>
          </div>
          </div>
  </div>
</form>
    
