<!--Inicio Nivel Cuentas de Productos-->
<p></p>
<br>
<div class="container">
<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary" routerLink="/pgastos">Nivel 2</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/cproducto3">Nivel 3</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/cproducto4">Nivel 4</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/cproducto5">Nivel 5</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/cproducto6">Nivel 6</button>
    
  </div>
</div>