<!--Inicio Nivel Patrimonio-->
<p></p>
<br>
<div class="container">
<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary" routerLink="/patrimonio">Nivel 2</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/ppatrimonio3">Nivel 3</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/ppatrimonio4">Nivel 4</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/ppatrimonio5">Nivel 5</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/ppatrimonio6">Nivel 6</button>
    
  </div>
</div>