.container{
    margin: 0 20%;
    margin-top: 5%;
    }
    h1 {
        text-align: center;
      }
      .imgfor {
        float: left;
        margin-right: 10px; 
        width: 40px; 
        height: 30px;
    }