<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img class="imgfor" src="../../../assets/img/logo 1.png">
      <a class="navbar-brand" href="#">Cerrar Sesion</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/farmacia"><img class="imgfor" src="../../../assets/img/farmacia.png"> Farmacia</a>
          </li>
          <li class="nav-item">
          <!--  <a class="nav-link" routerLink="/registrarf">Registrar Farmacia</a>-->
          <a class="nav-link active" aria-current="page" routerLink="/programacion"><img class="imgfor" src="../../../assets/img/cirujano.png"> Cirugia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/programacion"><img class="imgfor" src="../../../assets/img/paciente.png"> Internacion</a>
  
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/programacion"><img class="imgfor" src="../../../assets/img/deposito.png"> Almacen</a>
  
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/programacion"><img class="imgfor" src="../../../assets/img/tablero.png"> Dashboard</a>
  
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/programacion"><img class="imgfor" src="../../../assets/img/megafono.png"> Comunicado</a>
  
          </li>
          </ul>
      </div>
    </div>
  </nav>