<app-cabecera></app-cabecera>
<br><br><br>
<app-navbarcirugia></app-navbarcirugia>
<br><br>
<div class="container">
    <h1>Lista de Cirugias</h1>
<br>
<br>
<br>
    <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)"  placeholder="Ex. apellido" #input autocomplete="off">
      </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="paciente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Paciente </th>
          <td mat-cell *matCellDef="let element"> {{element.paciente}} </td>
        </ng-container>
        <ng-container matColumnDef="grado">
          <th mat-header-cell *matHeaderCellDef> Grado </th>
          <td mat-cell *matCellDef="let element"> {{element.grado}} </td>
        </ng-container>
        <ng-container matColumnDef="unidad">
          <th mat-header-cell *matHeaderCellDef> Fuerza </th>
          <td mat-cell *matCellDef="let element"> {{element.unidad}} </td>
        </ng-container>
        <ng-container matColumnDef="tipointer">
          <th mat-header-cell *matHeaderCellDef> Tipo de Intervencion </th>
          <td mat-cell *matCellDef="let element"> {{element.tipointer}} </td>
        </ng-container>
        <ng-container matColumnDef="fechap">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dia </th>
          <td mat-cell *matCellDef="let element"> {{element.fechap}} </td>
        </ng-container>
        <ng-container matColumnDef="fecham">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Mes </th>
          <td mat-cell *matCellDef="let element"> {{element.fecham}} </td>
        </ng-container>
    
        <ng-container matColumnDef="fechaa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Año </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaa}} </td>
        </ng-container>
    
        <ng-container matColumnDef="tiposangre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Sangre </th>
          <td mat-cell *matCellDef="let element"> {{element.tiposangre}} </td>
        </ng-container>
    
        <ng-container matColumnDef="observaciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones </th>
          <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
        </ng-container>
    
               
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef >
            <a class="btn btn-primary" routerLink="/programacion" role="button">Registrar</a> </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-icon matTooltip="Ver" routerLink="/verusuarios/{{element.id}}" class="search" fontIcon="search"></mat-icon>
            <!--<mat-icon matTooltip="Editar" routerLink="/editarusuarios/1" class="edit"fontIcon="edit"></mat-icon>-->
            <mat-icon  (click)="eliminarPersonal(element.id)"matTooltip="Borrar" class="delete" fontIcon="delete"></mat-icon>
          </td>
        </ng-container>
        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <mat-paginator [pageSizeOptions]="[10, 20, 30,40]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
    
    
     <br>
            
     <button type="button" class="btn btn-info" (click)="exportToExcel()"> Exportar a Excel</button>
    
           
          
      
    </div>


