<app-cabecera></app-cabecera>
<br><br><br>
<app-navbarinter></app-navbarinter>
<br><br>
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Bienvenido, </h1>
  <p class="lead">En este modulo podras interactuar registrando pacientes, listado pacientes y sacando reportes.</p>
  <hr class="my-4">
  <p>Recuerda si tienes dudas consulta a tu inmediato superior.</p>

  <br>
  <h2>Resumen Internacion - Pacientes activos</h2>
  <ul>
    <li *ngFor="let paciente of pacientesActivos">
    <strong>Nombre Paciente: </strong>  {{ paciente.nombrepaciente }} <strong>Pieza: </strong>{{ paciente.pieza }} 
    </li>
  </ul>
  
  <h2>Historico - Pacientes </h2>
  <ul>
    <li *ngFor="let paciente of pacientesresume">
    <strong>Paciente por estado: </strong>  {{ paciente.status }} <strong>Total : </strong>{{ paciente.count }} 
    </li>
  </ul>

  <br>
  <br>
  <button class="btn btn-warning btn-lg" type="button" routerLink="/principal" style="margin-left: 10px;">Volver</button>
</div>
