<app-cabecera></app-cabecera>
<br><br><br>
<app-navbarcontabilidad></app-navbarcontabilidad>
<br>
<br>
<h1 align="center">CIERRE CAJA CHICA</h1>

<div class="container">
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Paso #1
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Este primer paso es muy importante</strong> Tienes la cantidad exacta del monto de apertura y la cantidad exacta de gastos de caja chica. El resultado de esa resta debe ser el monto exacto que tienes en caja chica.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Paso #2
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Este segundo paso debes introducir  de forma manual</strong> el monto exacto que tienes en caja chica, debes ver los nros de botones de acuerdo a los numeros.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Paso #3
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Este tercer paso.</strong> Una vez que ingresaste el monto de caja chica. Debes presionar el boton de cierre de caja. Posteriormente a eso se descargara el pdf de las transacciones de caja chica.
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  
  <app-estadosfinancieros></app-estadosfinancieros>
  
  <br>
<br>
<br>
      <div class="d-flex">
        <!--<form class="row g-3">-->

            <form class="row g-3" [formGroup]="formulario">

          <div class="col-auto">
            <label for="staticEmail2" class="visually-hidden">Email</label>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="INTRODUCE LOS VALORES">
          </div>
          <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <!--<input type="text" class="form-control" id="inputPassword2" placeholder="CAJA CHICA">-->
            <!--<input type="text" class="form-control" #inputPassword2 placeholder="CAJA CHICA" readonly> Bs-->
           <!-- <input type="number" class="form-control" formControlName="monto" #inputPassword2 placeholder="CAJA CHICA" id="monto" > Bs-->
            <input type="text" class="form-control" [(ngModel)]="monto" #inputPassword2 placeholder="CAJA CHICA" id="monto">


          </div>
          
          <div class="col-auto">
          <!--<input class="form-control" type="text" placeholder="Responsable" id="responsable" aria-label="default input example">-->
          <input class="form-control" type="text" formControlName="responsable" placeholder="Responsable" id="responsable" aria-label="default input example">
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">
           <!-- <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#staticBackdrop">Cerrar Caja</button>-->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="registrarcierre()">Cerrar Caja</button>

            <button type="submit" class="btn btn-primary mb-3" (click)="borrarCampo()">Borrar</button>
          </div>
        <!--
        <div class="d-flex mx-1">
            <div class="col-auto me-auto">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Cerrar Caja</button>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3" (click)="borrarCampo()">Borrar</button>
            </div>
          </div>-->
          
        </form>
<br>
<br>


        <div class="container text-center">
            <div class="row">
              <div class="col"></div>
              <div class="col text-end">
                <button type="button" class="btn btn-light btn-lg" id="btn-1" (click)="agregarNumero('1')">1</button>
                
              </div>
              <div class="col text-end">
                <button type="button" class="btn btn-light btn-lg" id="btn-2" (click)="agregarNumero('2')">2</button>
                </div>
              <div class="col text-end">
                <button type="button" class="btn btn-light btn-lg" id="btn-3" (click)="agregarNumero('3')">3</button>
                
              </div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col text-end">
                <button type="button" class="btn btn-light btn-lg" id="btn-4" (click)="agregarNumero('4')">4</button>
                
              </div>
              <div class="col text-end">
                <button type="button" class="btn btn-light btn-lg" id="btn-5" (click)="agregarNumero('5')">5</button>
                
              </div>
              <div class="col text-end">
                <button type="button" class="btn btn-light btn-lg" id="btn-6" (click)="agregarNumero('6')">6</button>
                
              </div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col text-end">
                <button type="button" class="btn btn-light btn-lg" id="btn-7" (click)="agregarNumero('7')">7</button>
                
              </div>
              <div class="col text-end">
                <button type="button" class="btn btn-light btn-lg" id="btn-8" (click)="agregarNumero('8')">8</button>
                
              </div>
              <div class="col text-end">
                <button type="button" class="btn btn-light btn-lg" id="btn-9" (click)="agregarNumero('9')">9</button>
                
              </div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col text-end">
                <button type="button" class="btn btn-light btn-sm"></button>
              </div>
              <div class="col text-end">
                <button type="button" class="btn btn-light btn-lg" id="btn-0" (click)="agregarNumero('0')">0</button>
                
              </div>
              <div class="col"></div>
            </div>
            <br>
            <br>
            <br>
  </div>
 
</div>
</div>

 <!-- Modal -->
<!-- Primer modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"><app-cabecera></app-cabecera></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Esta a punto de cerrar la caja chica
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
          <button class="btn btn-primary btn-lg mt-3" type="button" style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#modalRegistroExitoso">Registrar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Segundo modal - Registro Exitoso -->
  <div class="modal fade" id="modalRegistroExitoso" tabindex="-1" aria-labelledby="modalRegistroExitosoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><app-cabecera></app-cabecera>
          <h5 class="modal-title" id="modalRegistroExitosoLabel">Registro Exitoso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¡El registro ha sido exitoso!</p>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="location.reload()">Volver</button>
        </div>
      </div>
    </div>
  </div>
  
