<app-cabecera></app-cabecera>
<br><br><br>
<app-navbarcontabilidad></app-navbarcontabilidad>
<div class="container">
  <div style="text-align: center;">
    <h1>DASHBOARD</h1>
    <br>
    <br>
  </div>
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          CAJA CHICA
        </div>
        <div class="card-body">
          <h2 class="card-title">{{ montoinicial }} Bs</h2>
          <p class="card-text">El monto inicial para la fecha {{ fechaAperturaCajaChica }}</p>
        </div>
        <div class="card-footer text-muted">
          Aprobado por: <strong>{{ aprobaciones }}</strong>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          TOTAL RESTANTE CAJA CHICA
        </div>
        <div class="card-body">
          <!--<h2 class="card-title">Monto: {{ ultimoMontotr }} Bs</h2>-->
          <p class="card-text"><h2>{{ montoinicial && monto ? montoinicial - monto : 0 }} Bs</h2>
          <p class="card-text">Fecha de creación: {{ fechaCreacion }}</p>
        </div>
        <div class="card-footer text-muted">
          Aprobado por: <strong>{{ aprobaciones }}</strong>
        </div>
      </div>
      
    </div>
   
  </div>
<br><br>
  <app-estadocajachica></app-estadocajachica>
</div>
