<app-cabecera></app-cabecera>
<br><br><br>
<app-navbarcontabilidad></app-navbarcontabilidad>
<br>
<br>
<h1 align="center">PLAN DE CUENTAS</h1>

<div class="container">

    <!-- Inicio botonera-->
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" routerLink="/regcuentas">
        <label class="btn btn-outline-primary" for="btnradio1">Registrar Cuenta</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" routerLink="/guiacontabilidad">
        <label class="btn btn-outline-primary" for="btnradio2">Guia contabilidad</label>  
      </div>
<!-- Fin botonera-->
<p></p>
<br>
<br>
<br>
<!--CARDS-->
<div class="d-flex justify-content-between" style="margin-bottom: -10px; margin-right: -10px;">
  <div *ngFor="let cuenta of cuentas" class="card text-bg-primary mb-3" style="flex-basis: calc(33.33% - 20px); margin-bottom: 10px; margin-right: 10px;">
    <div class="card-header">{{ cuenta.tipo }}</div>
    <div class="card-body">
      <!--<h5 class="card-title">{{ cuenta.cuenta }}</h5>-->
      <p class="card-text">{{ cuenta.id }}</p>
    </div>
    <!--IF para redireccionar a un site-->
    <a *ngIf="cuenta.id === 1" class="stretched-link" routerLink="/pactivo"></a>
    <a *ngIf="cuenta.id === 2" class="stretched-link" routerLink="/ppasivo"></a>
    <a *ngIf="cuenta.id === 3" class="stretched-link" routerLink="/patrimonio"></a>
    <a *ngIf="cuenta.id === 4" class="stretched-link" routerLink="/pingreso"></a>
    <a *ngIf="cuenta.id === 5" class="stretched-link" routerLink="/pgastos"></a>
    <a *ngIf="cuenta.id === 6" class="stretched-link" routerLink="/coperacion"></a>


  </div>
</div>

<!--
<ng-container *ngIf="(asyncTabs | async) === null">
  Loading tabs...
</ng-container>

<mat-tab-group>
  <mat-tab *ngFor="let tab of asyncTabs | async">
    <ng-template mat-tab-label>{{tab.label}}</ng-template>
    {{tab.content}}
  </mat-tab>
</mat-tab-group>
-->

</div>
