<app-cabecera></app-cabecera>
<br><br><br>
<app-navbarcontabilidad></app-navbarcontabilidad>
<br>
<br>
<h1 align="center">PLAN DE CUENTAS</h1>

<div class="container">

    <!-- Inicio botonera-->
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" routerLink="/regcuentas">
        <label class="btn btn-outline-primary" for="btnradio1">Registrar Cuenta</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" routerLink="/guiacontabilidad">
        <label class="btn btn-outline-primary" for="btnradio2">Guia contabilidad</label>  
      </div>
<!-- Fin botonera-->
<p></p>
<br>
<br>
<br>
<div class="card text-bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Tipo</div>
  <div class="card-body">
    <h5 class="card-title">Cuenta </h5>
    <p class="card-text">id</p>
  </div>
</div>

</div>
