<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img class="imgfor" src="../../../assets/img/logo 1.png"><a class="navbar-brand" href="#">Cerrar Sesion</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" routerLink="/principal" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
           <a class="nav-link active" aria-current="page" routerLink="/principal">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Registrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Stock</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>