<div class="d-flex">
    <div class="card me-3" style="max-width: 540px;">
      <div class="row g-0 flex-row">
        <div class="col-md-4">
            <br>
          <img src="../../../../assets/img/contador.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title"><strong>APERTURA CAJA CHICA</strong></h3>
            <p class="card-text"><h2>{{ montoinicial }} Bs</h2>
            <p class="card-text"><small class="text-body-secondary">{{ fechaAperturaCajaChica }}</small></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card me-3" style="max-width: 540px;">
      <div class="row g-0 flex-row">
        <div class="col-md-4">
            <br>
          <img src="../../../../assets/img/gasto.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><strong> GASTOS CAJA CHICA</strong></h4>
            <p class="card-text"><h2>{{ monto }} Bs  </h2> 
           <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>-->
          </div>
        </div>
      </div>
    </div>
    
    <div class="card me-3" style="max-width: 540px;">
      <div class="row g-0 flex-row">
        <div class="col-md-4">
            <br>
          <img src="../../../../assets/img/extracto.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title"><strong>TOTAL CAJA CHICA</strong></h3>
            <p class="card-text"><h2>{{ montoinicial && monto ? montoinicial - monto : 0 }} Bs</h2>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  