<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Activos</div>
        Contenido
      </div>
      <span class="badge bg-primary rounded-pill" routerLink="/dboardgral">{{ totalRegistros }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Pasivos</div>
        Contenido
      </div>
      <span class="badge bg-primary rounded-pill" routerLink="/dboardpasivo">{{ totalRegistrosp }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Patrimonio</div>
        Contenido
      </div>
      <span class="badge bg-primary rounded-pill" routerLink="/dboardpatrimonio">{{ totalRegistroscpat }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Cuentas de Distribucion</div>
          Contenido
        </div>
        <span class="badge bg-primary rounded-pill" routerLink="/dboardcdistribucion">{{ totalRegistroscd }}</span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Cuentas de Productos</div>
          Contenido
        </div>
        <span class="badge bg-primary rounded-pill" routerLink="/dboardcproducto">{{ totalRegistroscuentapt }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Costos de Operacion</div>
          Contenido
        </div>
        <span class="badge bg-primary rounded-pill" routerLink="/dboardcoperativo">{{ totalRegistroscoperacion }}</span>
      </li>
  </ol>